body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightpink;
    padding-top: 50px;
}

h1 {
    color: red;
}

p {
    padding: 30px 20px 20px 20px;
}
.footer {
    background-color: white;

}

